.Root {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

.Container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.Modal {
  background: white;
  width: 50%;
  z-index: 99;
  position: relative;
  border-radius: 5px;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  padding: 4rem 4rem 2rem 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 35%;
  max-height: 60%;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}

.Headers {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  font-weight: 500;
}

.Headers h4 {
  margin: 0.1rem 0;
}

.ModalItemContainer {
  /*display: flex;*/
  position: relative;
}

.Close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-weight: 900;
  font-size: 1rem;
  color: black;
}

.Close:hover {
  cursor: pointer;
}

.SumContainer {
  align-self: flex-end;
  display: flex;
}

.TotalCost {
  font-size: 1.3rem;
  font-weight: 600;
  right: 6.5rem;
  bottom: 1.4rem;
  text-align: center;
}

.TotalSum {
  font-size: 1.6rem;
  font-weight: 700;
  width: 30%;
  color: rgba(0, 161, 180, 0.9);
  padding: 1rem;
}

.Reset {
  position: relative;
  bottom: 5px;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
  transition: all ease 0.5s;
}

.Reset:hover {
  cursor: pointer;
  color: rgba(255, 0, 0, 0.8);
}

.Empty {
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
